header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	height: 55px;
	gap: 10px;
	background-color: #F55A5A;
	border-radius: 10px 10px 0px 0px;
	margin-top: 10px;
}

header > p {
	font-size: 15px;
	font-weight: 500;
	line-height: 17.5px;
	color: #FFFFFF;
}

header > i {
	color: #FFFFFF;
	font-size: 24px;
}